GARMIN_EMAIL=your_email@example.com
GARMIN_PASSWORD=your_password
# The URL of your deployed Google Apps Script Web App (Legacy)
APPS_SCRIPT_URL=https://script.google.com/macros/s/.../exec

# Google Form URL (ends in /formResponse)
GOOGLE_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSfm3d6mDIYNTku2PqardNHXYoU2ByftYNOJ43asBejHCzNRuA/formResponse

# Google Form Entry IDs
ENTRY_START_TIME=entry.1102686006
ENTRY_NAME=entry.619202252
ENTRY_DISTANCE=entry.1259518491
ENTRY_DURATION=entry.706733216
ENTRY_AVG_HR=entry.309534215
ENTRY_MAX_HR=entry.819597230
ENTRY_PACE=entry.151403009
ENTRY_TE_AEROBIC=entry.440974151
ENTRY_TE_ANAEROBIC=entry.928961993
ENTRY_HR_ZONES=entry.1842900351
